.add-user-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-user-content {
	position: relative;
	background: var(--background-color);
	padding: 2rem;
	border-radius: 5px;
	color: var(--primary-color);
	min-width: 60%;
}

.add-user-content .close {
	position: absolute;
	top: -30px;
	right: -30px;
	background: none;
	border: none;
	cursor: pointer;
}

.add-user-content .input-field {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--primary-color);
}

.add-user-content .input-field .search-input {
	background: none;
	border: none;
	width: 100%;
}

.add-user-content .input-field .search-input:focus {
	outline: none;
}

.add-user-content .search-icon {
	width: 20px;
}

.add-user-content .user-listings {
	min-height: 20vh;
}

.user-container {
	display: flex;
	padding: 1rem 0;
	border-bottom: 1px solid #dddddd;
	justify-content: space-between;
}

.user-container .left-content .user-image {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.user-container .right-content button.start {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	color: white;
	cursor: pointer;
}
