.register {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.register-card {
	background-color: var(--primary-color);
	padding: 1.5rem 1.2rem;
	color: white;
	border-radius: 5px;
	min-width: 30%;
}

.register-card h1 {
	text-align: center;
	color: var(--secondary-color);
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.register-form .register-field {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
}

.register-form .register-field .error {
	display: flex;
	align-items: center;
	gap: 3px;
	margin-top: 3px;
	color: var(--secondary-color);
	font-size: 0.8rem;
}

.register-form .register-field .error .alert {
	width: 14px;
}
.register-form input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--secondary-color);
}

.register-form .submit {
	background-color: var(--secondary-color);
	color: white;
	padding: 0.5rem;
	border-radius: 6px;
	cursor: pointer;
	text-transform: uppercase;
}

.register-form label {
	font-size: 0.9rem;
	color: var(--background-color);
	margin-bottom: 2px;
}

.register-form input:focus {
	outline: none;
}

.register-form {
	display: flex;
	flex-direction: column;
}

.register-card .no-account {
	color: var(--background-color);
	font-size: 0.9rem;
	text-align: center;
}

.register-card .no-account a {
	color: var(--secondary-color);
	text-decoration: none;
}
