@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #b8b8b8;
	--secondary-color: #db4c04;
	--background-color: #333333;
	--text-color: #dddddd;
}

body {
	background-color: var(--background-color);
	font-family: "Poppins", sans-serif;
}
